$color:#b300b3;
%template{
  color:$color;
  font-weight:bold;
}
p{
  .mark{
    @extend %template;
  }
}
a:hover{
  @extend %template;
  font-family:cursive;
  text-decoration: none;
}
@media only screen and (max-width:768px){
  body{
    font-size: 20px;
  }
}
@media only screen and (max-width:992px){
  body{
    font-size: 18px;
  }
}
